
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.album-finder{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
}

.album-finder {
  background: #151515;
  color: #fff;
  overflow: hidden;
}

.album-finder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -50%;
    }
    &:last-child {
      right: -50%;
    }
  }
}

.slide {
  //transform-style: preserve-3d;
  // border: solid 1px red;

  // &[data-active] {
  //   .slideContent > * {
  //     transform: none;
  //     opacity: 1;
  //   }
  // }
}

.slideContent {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 4px 8px #000;
  opacity: 0;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
    &:hover {
      color: #fdfbda;
    }
  }

  .slideSubtitle::before {
    content: "— ";
  }

  .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.08;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}




.shelf {
  position: relative;
  top: 0%;
}
.player {
  position: absolute;
  top: 0%;
  padding-top: 80px;
  background-color: #000;
  width: 100%;
}

.column {
  float: left;
  width: 90%
}

.search-form {
  text-align: center;
  background-color: #FFF;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;

}

.search-input {
  width: 500px !important;
}

// .item {
//   &:hover {
//     opacity: 6;
//   }
// }

.message-container img {
  width: 300px;
}


.content {
  position: absolute;
  text-align: left;
  height: 100px;
  width: 150px;
  top: 50px;
  // bottom: 0;
  left: 5px;
  // right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  overflow-wrap: break-word;
  font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;



  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  color: #475a61;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
}

.item {
  color: #FFF !important;
  &:hover .content {
    visibility: visible;
    opacity: 4;
  }
  &:hover .image {
    opacity: 0.25;
    transition: opacity .2s;
  }
}

// .image {
//   &:hover {
//     transition: opacity .2s;
//     opacity: 0.25;
//     > .content {
//       visibility: visible;
//       opacity: 4;
//     }
//   }
  
// }
 

// 
//    alginign--gin
//  .no-albums {
//    text-align: center;
//    font-family: Gill Sans Extrabold, sans-serif;
//  }


.message-container {
  // background-image: url("https://ak.picdn.net/shutterstock/videos/1150678/thumb/1.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}


.glow-on-hover {
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-transform: uppercase;
      letter-spacing: 10px;
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-size: 18px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.ui.centered.container.stackable.very.relaxed.four.column.grid {
  width: 100%;
  background-color: #FFF !important;
  position: flex;
  padding-left: 200px;
}

#search-results{
  background-color: white !important;
  height: 1250px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

nav {
  height: 30px;
  background-color: #000;
  padding-bottom: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 545px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  li {
      display: none;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 50px;
      @media all and (min-width: 545px) {
          display: block;
      }
    //   &:hover {
    //     color: #4A4860;
    //     background: #FFC4EB;
    //     background-blend-mode: difference;
    //     // box-shadow: 0px 4px 0px 0px #BB8EAC;
    // }
  }
  a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-size: 18px;
      color: #566c74;
      text-align: center;
      padding-bottom: 50px;
      transition: background .25s, box-shadow .15s;
      &:hover {
          color:  #80a5b3;
          // background: #FFC4EB;
          // background-blend-mode: difference;
          // box-shadow: 0px 4px 0px 0px #BB8EAC;
      }
      @media all and (min-width: 545px) {
          padding: 0px;
      }
  }
}

html {
  background-color: #000;
}
body {
  color: #FFF;
  background-color: #000;
}
body #fonts {
  font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

.btn-three {
  font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #475a61;
    height: 40px;
    transition: all 0.5s;
    position: relative;
    opacity: 0.75;
    border: none;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 2px #2b2b2b;
    outline: none;
    &:hover {
      opacity: 1;
      color: #397286
    }
  }
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(37, 37, 37, 0.1);
    transition: all 0.1s;
    border: none;
    outline: none;

  }
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    outline: none;

    transition: all 0.1s;
    border: none;
    transform: scale(1.2,1.2);
  }
.btn-three:hover::after {
    opacity: 1;
    outline: none;

    transform: scale(1,1);
  }
  
  .ui.items>.item.content{
    color: #FFF;
    font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }
  
  .btn-two {
    font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      color: #475a61;
      height: 40px;
      transition: all 0.5s;
      position: relative;
      opacity: 0.75;
      border: none;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 10px;
      box-shadow: 1px 1px 2px #a0a0a0;
      outline: none;
      &:hover {
        opacity: 1;
        color: #397286
      }
    }
  .btn-two::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(37, 37, 37, 0.1);
      transition: all 0.1s;
      border: none;
      outline: none;
  
    }
  .btn-two:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
    }
  .btn-two::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      outline: none;
  
      transition: all 0.1s;
      border: none;
      transform: scale(1.2,1.2);
    }
  .btn-two:hover::after {
      opacity: 1;
      outline: none;
  
      transform: scale(1,1);
    }

.no-albums-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-albums{
  padding-top: 100px;
  font-family:  Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 18px;
}
    
 





