.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.container {
  position: relative;
  /* margin-top: 50px; */
  width: 800px;
  height: 800px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 0;
}

.title {
  position: absolute;
  width: 300px;
  left: 0;
  top: 25px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: background .5s ease-out;
}

/* .container:hover .title {
  top: 250px;
} */

.artist {
  position: relative;
  width: 300px;
  left: 0;
  top: 50px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .artist {
  top: 250px;
  display: none;
}

.button {
  position: absolute;
  width: 300px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  padding-left: 50px;
}

.button p {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.carousel.carousel-slider {
  margin: 0;
  padding: 100px;
  position: relative;
  list-style: none;
 }
.slide-active {
  background: #FFF
}

 .carousel.slide.legend {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #FFF; 
}